<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Game of Thrones</title>
  </head>
  <body>
    <nav>
      <h1>Welcome to the Game of Thrones!</h1>
      <h2><%= link_to "View Houses", houses_path %> | <%= link_to "View Characters", characters_path %> | <%= link_to "Add New Character", new_character_path %></h2>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
